@use "../../global" as *;
@use "../../partials" as *;

.primary-button {
  padding: size(12) size(20);
  @include radius(4);
  background: $primary-color-base;
  color: $white;
  font-family: $primaryFont;
  font-size: size(16);
  font-weight: 500;
  line-height: 24px;
  border: none;
  transition: all 0.35s ease-in-out;
  @include hover {
    background: $primary-color-700;
  }
}

.save-draft-btn {
  display: inline-flex;
  padding: size(10) size(16);
  justify-content: center;
  align-items: center;
  gap: size(8);
  @include radius(8);
  border: 1px solid #e5e7eb;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #d1d5db;
  font-family: $primaryFont;
  font-size: size(14);
  font-weight: 600;
  line-height: size(20);
  cursor: pointer;
}

.confirm-btn {
  display: inline-flex;
  width: 145px;
  padding: size(10) size(16);
  justify-content: center;
  align-items: center;
  gap: 8px;
  @include radius(8);
  border: none;
  background: #d1d5db;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #fff;
  font-family: $primaryFont;
  font-size: size(14);
  font-weight: 600;
  line-height: size(20);
  cursor: pointer;
}
