@use "../global" as *;
@use "../partials" as *;

//garage-management
.store-info-section {
  // margin-top: size(10);
  &-inner {
    @include radius(16);
    border: 1px solid #e4e7ec;
    background: $white;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: size(10);
    @include breakpoint(mobile576) {
      padding: size(30);
    }

    .store-name {
      display: flex;
      align-items: center;
      gap: size(15);
      .text {
        color: #1f2937;
        font-family: $primaryFont;
        font-size: size(20);
        font-weight: 700;
        line-height: size(28);
      }
      svg {
        width: size(20);
        height: size(20);
      }
    }

    .store-address {
      .text {
        color: #1f2937;
        font-family: $primaryFont;
        font-size: size(16);
        font-weight: 500;
        line-height: size(24);
        width: size(295);
      }
    }
    .business-hours {
      display: flex;
      flex-direction: column;
      gap: size(12);
      @include breakpoint(mobile576) {
        flex-direction: row;
        gap: size(120);
      }
      &-inner {
        display: flex;
        flex-direction: column;
        gap: size(12);
        .hedding {
          color: #1f2937;
          font-family: $primaryFont;
          font-size: size(18);
          font-weight: 700;
          line-height: size(28);
        }
        .pra {
          color: #1f2937;
          font-family: $primaryFont;
          font-size: size(14);
          font-weight: 600;
          line-height: size(20);
        }
      }
    }
  }
}

.profile-photo-section {
  margin-top: size(10);
  &-inner {
    @include radius(16);
    border: 1px solid #e4e7ec;
    background: $white;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: size(10);
    @include breakpoint(mobile576) {
      padding: size(30);
    }
    .profile-photo-inner {
      display: flex;
      flex-direction: column;
      gap: size(10);
      .text {
        color: #1f2937;
        font-family: $primaryFont;
        font-size: size(14);
        font-weight: 600;
        line-height: size(20);
      }
      .profile-photo-label {
        display: inline-block;
        padding: size(33);
        border: 1.37px dashed #0f766d;
        @include radius(9999999);
        cursor: pointer;
        svg {
          width: size(34);
          height: size(34);
        }
        input {
          display: none;
        }
      }
    }

    .cover-photo-inner {
      display: flex;
      flex-direction: column;
      gap: size(10);
      .text {
        color: #1f2937;
        font-family: $primaryFont;
        font-size: size(14);
        font-weight: 600;
        line-height: size(20);
      }
      .cover-photo-label {
        padding: size(26);
        border: 1.37px dashed #0f766d;
        @include radius(14);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        .text {
          width: 159px;
          color: #1f2937;
          text-align: center;
          font-family: $primaryFont;
          font-size: size(14);
          font-weight: 500;
          line-height: size(20);
          span {
            color: #0f766d;
            font-weight: 700;
          }
        }

        svg {
          width: size(34);
          height: size(34);
        }
        input {
          display: none;
        }
      }
    }
  }
}

.service-categories-section {
  margin-top: size(10);
  margin-bottom: size(20);
  &-inner {
    @include radius(16);
    border: 1px solid #e4e7ec;
    background: $white;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: size(10);
    @include breakpoint(mobile576) {
      padding: size(30);
    }

    .heading-text {
      color: #1f2937;
      font-family: $primaryFont;
      font-size: size(18);
      font-weight: 700;
      line-height: size(28);
    }

    .categories {
      display: flex;
      align-items: center;
      gap: size(10);
      flex-wrap: wrap;
      &-inner {
        display: flex;
        align-items: center;
        gap: size(4);
        @include radius(6);
        border: 1px solid #d0d5dd;
        background: $white;
        padding: size(4) size(10);
        .text {
          color: #1f2937;
          font-family: $primaryFont;
          font-size: size(14);
          font-weight: 600;
          line-height: size(20);
        }
        svg {
          width: size(14);
          height: size(14);
          cursor: pointer;
        }
      }
    }
  }
}

// edit-garage page
.edit-garage-header {
  margin-top: size(50);
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    @include breakpoint(desktop1024) {
      padding: 0 size(68);
    }
    .header-text {
      display: flex;
      flex-direction: column;
      gap: size(4);
      .title {
        color: var(--Gray-900, #101828);

        /* text-2xl/bold */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 140% */
      }
      .details {
        color: var(--Gray-600, #475467);

        /* Text Base/Regular */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
      }
    }
  }
}

.edit-garage-body {
  margin-top: size(40);
  &-inner {
    padding: 0 0;
    @include breakpoint(desktop1024) {
      padding: 0 size(68);
    }
    display: flex;
    flex-direction: column;
    gap: size(20);

    .nav-tabs {
      border-radius: 8px;
      border: 1px solid #e4e7ec;
      background: #f9fafb;
      display: flex;
      align-items: center;
      gap: size(20);
      .basic-info {
        padding: size(8) size(12);
        border: none;
        color: #667085;
        font-family: $primaryFont;
        font-size: size(16);
        font-weight: 600;
        line-height: size(24);
        background: transparent;
      }
      .active {
        @include radius(8);
        border: size(1) solid #d0d5dd;
        background: $white;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        padding: 8px 12px;
        color: #344054;
        font-family: $primaryFont;
        font-size: size(16);
        font-weight: 600;
        line-height: size(24);
      }

      .counter {
        display: flex;
        padding: 0 size(7);
        align-items: center;
        @include radius(16);
        border: 1px solid #e4e7ec;
        background: #f9fafb;
      }
    }

    .input-field {
      @include radius(8);
      border: 1px solid #e4e7ec;
      background: #f9fafb;

      input {
        background: transparent;
        &::placeholder {
          color: #667085;
          font-family: $primaryFont;
          font-size: size(16);
          font-weight: 600;
          line-height: size(24);
        }
      }
    }

    .store-name-section {
      &-inner {
        @include radius(16);
        border: 1px solid #e5e7eb;
        background: $white;
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.03);
        padding: size(30);
        display: flex;
        flex-direction: column;
        gap: size(20);
        .input-inner {
          display: flex;
          flex-direction: column;
          gap: size(10);
          .input-label {
            color: var(--Text-Title-Color, #1f2937);

            /* Text Base/Semi bold */
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px; /* 142.857% */
          }
          .input-field {
            border-radius: 8px;
            border: 1px solid var(--Border-Color, #e7eaef);
            background: #fff;
            padding: size(12) size(20);
          }

          .input-field-inner {
            display: flex;
            align-items: center;
            gap: size(10);
            border-radius: 8px;
            border: 1px solid var(--Border-Color, #e7eaef);
            background: #fff;
            padding: size(12) size(20);
            input {
              flex-grow: 1;
            }
            .location {
              display: flex;
              align-items: center;
              gap: size(10);

              svg {
                width: size(16);
                height: size(16);
              }
              .text {
                color: var(--Nutral-Color-400, #7b7f95);
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px; /* 114.286% */
                letter-spacing: 0.14px;
              }
            }
          }
        }

        .box {
          display: flex;
          flex-direction: column;
          gap: size(6);
          .category-select-label {
            color: #1f2937;
            font-family: $primaryFont;
            font-size: size(14);
            font-weight: 600;
            line-height: size(20);
          }
        }
      }
    }
  }
}

.edit-garage-footer {
  border-top: 1px solid #e5e7eb;
  background: $white;
  padding: size(28) 0;
  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.form-group {
  position: relative;

  label {
    font-weight: 500;
  }

  .calendar-icon {
    width: 16px;
    height: 16px;
    background: url("calendar-icon.svg") no-repeat center center;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  input {
    padding-right: 30px; // To make space for the calendar icon
  }
}

.review-section {
  .nav-tabs {
    border-bottom: none;
    display: flex;
    align-items: center;
    gap: size(20);
    .nav-tabs-button {
      padding: size(8) size(12);
      border: none;
      color: #667085;
      font-family: $primaryFont;
      font-size: size(14);
      font-weight: 500;
      line-height: size(24);
      background: transparent;
    }
    .active {
      @include radius(8);
      border: size(1) solid #d0d5dd;
      background: #0f766d;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      padding: 8px 12px;
      color: $white;
      font-family: $primaryFont;
      font-size: size(14);
      font-weight: 500;
      line-height: size(24);
    }

    // .counter {
    //   display: flex;
    //   padding: 0 size(7);
    //   align-items: center;
    //   @include radius(16);
    //   border: 1px solid #e4e7ec;
    //   background: #f9fafb;
    // }
  }
}
