@use "../global" as *;
@use "../partials" as *;

.seller-information {
  &-inner {
    .general-information {
      .title {
        color: var(--Gray-700, #344054);

        /* Text md/Semibold */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
      }
    }
  }
}
