@use "../global" as *;
@use "../partials" as *;

.accordion-section {
  &-inner {
    .accordion-card {
      border-radius: 16px;
      border: 1px solid var(--Border-Border-Color, #e5e7eb);
      background: var(--Text-Title-Light-Color, #fff);

      &-header {
        display: flex;
        align-items: center;
        gap: size(16);
        padding: size(20);
        border-radius: size(16) size(16) 0px 0px;
        border-bottom: 1px solid #e5e7eb;
        background: #fafafa;

        img {
          width: size(52);
          height: size(52);
        }

        .title {
          color: #09090b;
          font-family: Inter;
          font-size: 18px;
          font-weight: 700;
          line-height: 28px;
        }
      }

      .accordion {
        padding-bottom: size(20);

        .accordion-item {
          background-color: $white;
          margin-bottom: 0;
          padding: 0 size(20);
          border: none;

          .accordion-header {
            .accordion-button {
              border-bottom: 1px solid #e5e7eb !important;
              border-radius: 0.25rem;
              padding: size(16) size(0);
              color: #1f2937;
              font-family: $primaryFont;
              font-size: size(16);
              font-weight: 500;
              line-height: size(24);

              &:not(.collapsed) {
                background-color: transparent;
              }

              &:focus {
                z-index: 3;
                border: none;
                outline: 0;
                box-shadow: none !important;
              }

              &::after {
                background-image: url(../../assets/images/right-array.png);
                transform: rotate(-270deg) !important;
              }

              &.collapsed::after {
                transform: rotate(-360deg) !important;
                background-image: url(../../assets/images/right-array.png);
              }
            }
          }

          .accordion-body {
            padding: size(16) size(8);
          }
        }
      }
    }
  }
}

.contact-section {
  margin: size(40) 0;

  &-inner {
    .contact-card {
      display: flex;
      flex-direction: column;
      gap: size(12);

      .title {
        color: #101828;
        font-family: $primaryFont;
        font-size: size(20);
        font-weight: 700;
        line-height: size(28);
      }

      &-inner {
        display: flex;
        align-items: center;
        gap: size(32);
        @include radius(16);
        border: 1px solid #e5e7eb;
        background: $white;
        box-shadow: 0px 0px 1px 0px rgba(12, 26, 75, 0.1), 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
        padding: size(24) size(40);

        .call-icon {
          width: size(24);
          height: size(24);
        }

        .contact-detail {
          .number {
            color: #0f766d;
            font-family: $primaryFont;
            font-size: size(18);
            font-weight: 700;
            line-height: size(28);
          }

          .text {
            color: #1f2937;
            font-family: $primaryFont;
            font-size: size(16);
            font-weight: 500;
            line-height: size(24);
          }
        }
      }
    }
  }
}

.questions-section {
  margin-bottom: size(40);

  &-inner {
    display: flex;
    flex-direction: column;
    gap: size(20);

    .title {
      color: #101828;
      font-family: $primaryFont;
      font-size: size(20);
      font-weight: 700;
      line-height: size(28);
    }

    .accordion {
      .accordion-item {
        .accordion-header {
          .accordion-button {
            flex-direction: row-reverse;
            justify-content: flex-end;
            color: #1f2937;
            font-family: $primaryFont;
            font-size: size(16);
            font-weight: 600;
            line-height: size(24);
            letter-spacing: 0.08px;

            &::after {
              margin-left: 0;
              margin-right: size(10);
              background-image: url(../../assets/images/minus.png);
              transition: none;
            }

            &.collapsed::after {
              transform: none;
              background-image: url(../../assets/images/plus.png);
            }

            &:focus {
              box-shadow: none;
            }

            &:not(.collapsed) {
              color: #0f766d;
              background-color: transparent;
              border-bottom: 1px solid #e5e7eb;
              box-shadow: none;
            }
          }
        }

        .accordion-body {
          background: #fafafa;
          color: #1f2937;
          font-family: $primaryFont;
          font-size: size(16);
          font-weight: 500;
          line-height: size(24);
        }
      }
    }
  }
}

.payment-section {
  &-inner {

    .accordion {
      padding-bottom: size(20);

      .accordion-item {
        background-color: #FAFAFA;

        .accordion-header {
          .accordion-button {
            border-bottom: 1px solid #e5e7eb !important;
            border-radius: 0.25rem;
            color: #1f2937;
            font-family: $primaryFont;
            font-size: size(16);
            font-weight: 600;
            line-height: size(24);

            &:not(.collapsed) {
              background-color: $white;
              color: #0F766D;
            }

            &:focus {
              box-shadow: none !important;
            }

            &::after {
              background-image: url(../../assets/images/up-arrow.svg );
              transform: rotate(0);
            }

            &.collapsed::after {
              background-image: url(../../assets/images/down-arrow.svg);
              transform: rotate(0);
            }

          }
        }

        .accordion-body {
          padding: size(16) size(0);

          ul {
            padding-left: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: size(4);

            li {
              font-family: $primaryFont;
              color: #1F2937;
              font-size: size(16);
              line-height: size(24);
              padding: size(5) size(20);
              transition: all .35s ease-in-out;
              border-left: size(2) solid transparent;

              &.active {
                border-left: size(2) solid #0F766D;
                background: $white;
                color: #0F766D;
              }

              &:hover {
                border-left: size(2) solid #0F766D;
                background: $white;
                color: #0F766D;
              }
            }
          }
        }
      }
    }

    .accounts-section {
      @include radius(16);
      border: size(1) solid #E5E7EB;
      background: $white;
      padding: size(30);

      .title {
        color: #1F2937;
        font-family: $primaryFont;
        font-size: size(24);
        font-weight: 700;
        letter-spacing: 0.12px;
      }

      .details {
        color: #6B7280;
        font-family: $primaryFont;
        font-size: size(16);
        font-weight: 500;
        line-height: size(24);
        letter-spacing: 0.08px;
      }
    }

    .information-section {
      display: flex;
      flex-direction: column;
      gap: size(20);

      .title {
        color: #101828;
        font-family: $primaryFont;
        font-size: size(20);
        font-weight: 700;
        line-height: size(28);
      }

      .similar-questions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: size(13) size(20);
        justify-content: space-between;
        @include radius(8);
        border: size(1) solid #E5E7EB;
        background: $white;

        .question {
          color: #6B7280;
          font-family: $primaryFont;
          font-size: size(16);
          font-weight: 500;
          line-height: size(24);
        }
      }
    }
  }
}